.button{
  inline-size: 32px;
  block-size: 32px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.button:active{
  transform: scale(.9);
}

#backward{
  background-image: url("/images/-10.svg");
}

#play{
  background-image: url(/images/play.svg);
}

#pause{
  background-image: url(/images/pause.svg);
}

#forward{
  background-image: url(/images/+10.svg);
}